form{
    display: flex;
    flex-direction: column;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

form input{
    margin-bottom: 10px;
    width: 80%;
}

form label{
    margin-bottom: 6px;
    width: 80%;
    text-align: start;
}

form button{
    margin-top: 20px;
    width: 50%;
}

@media(min-width: 350px)
{
    form{
        width: 65%;
    }
}

@media(min-width: 400px)
{
    form{
        width: 35%;
    }

    form label{
        font-size: 18px;
        letter-spacing: 1px;
    }

    form input{
        height: 24px;
        margin-bottom: 15px;
        text-align: center;
    }

    form button{
        width: 45%;
        padding: 4px 8px;
    }
}

@media(min-width: 900px)
{
    form{
        width: 27%;
    }

    form button{
        width: 35%;
        padding: 4px 8px;
    }
}

@media(min-width: 1400px)
{
    form{
        width: 20%;
    }
}